@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Serif:wght@400;500&family=Markazi+Text:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;700&family=Noto+Serif&family=Nunito:wght@400;500&family=Poppins:wght@200;300;400&family=Ubuntu:wght@300;400;700&family=Vollkorn&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 1rem;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color:antiquewhite;

}

.brand img{
    width: 4rem;
    padding: 0 0.5rem;
}

.brand{
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 47%;
    margin: 1rem auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('image.jpeg');
    background-repeat: no-repeat;
}
.bottom{
    position: sticky;
    height: 7rem;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 0.8rem;
    
}

.icons i{
    cursor: pointer;
}

#myProgressbar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songitem-container{
    margin-top: 3rem;
    cursor: pointer;
}

.song-item{
    height: 2.3rem;
    font-size: 0.8rem;
    display: flex;
    background-color: black;
    color: white;
    margin: 0.7rem 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.song-item img{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1.8rem 0;
    border-radius: 35px;
}

.timestamp{
    margin: 0 2rem;
    
}

.timestamp i{
    cursor: pointer;
    margin-left: 0.7rem;
}

.song-info{
    position: absolute;
    left: 10vw;
    font-family: 'Nunito', sans-serif;
}

.song-info img{
    opacity:0;
    transition: opacity 0.4s ease-in;
}

@media (min-height: 800px) {

    /** Bottom height **/
    .bottom {
        height: 10rem;
    }
}

@media (max-width: 1064px) {
    
    /** Container adjustment **/

    .container{
        background-image: url(image1.png);
        background-repeat: repeat;
    }
}

@media (max-height: 650px){

    /** navbar adjustment **/

    nav ul {
        height: 4rem;
    }

    .brand img{
        width: 2.5rem;
    }

    /** container adjustment **/
    .container{
        height: 3rem;
    }

    
    /** bottom adjustment **/
    .bottom {
        height: 5rem;
    }

}

@media (min-height: 1180px){

    /** container adjustment **/
    .container {
        margin: 5.7rem auto;
        background-repeat: repeat;
    }

}

@media (min-height: 1024px){
    
    /** container adjustment **/
    .container {
        margin: 3.7rem auto;
        background-repeat: repeat;
    }
}

@media (max-width: 720px) {

    .song-item{
        font-size: 0.53rem;
    }

    .song-info span{
        font-size: 0.8rem;
    }
    
    .time{
        display: none;
    }

}

@media (max-width: 415px) {

    .container{
        width: 70%;
        margin: 1.5rem auto;
    }
    
    .song-item{
        font-size: 0.7rem;
    }
    .song-item img{
        margin: 0 1rem 0;
    }

    .song-name{
        margin: auto 0.3rem;
    }

    
    .song-info span{
        display: none;
    }
}

@media (max-width: 1200px) {
    .time{
        display: none;
    }
}











